black==20.8b1
isort==5.4.2
mypy==0.782
pylint==2.6.0
pytest==6.0.1

pygame~=2.4.0
setuptools~=65.5.1
pandas~=1.5.0
requests~=2.31.0
urllib3~=2.0.3
tqdm~=4.65.0
SQLAlchemy~=2.0.15
beautifulsoup4~=4.12.2
PyJWT~=2.7.0
responses~=0.23.1
httpretty~=1.1.4
community~=1.0.0b1
matplotlib~=3.7.1
networkx~=3.1
python-louvain~=0.16
gensim~=4.3.1
pyLDAvis~=3.4.1
textacy~=0.13.0